body{
	background-color: #222222;
	background-image: url(images/thePillarsOfCreation.jpg);
	background-position: top;
	font: normal 16px "Comic Sans MS", cursive, sans-serif;
	line-height: 1.6em; 
	margin: 0;
}

a{
	text-decoration: none;
	color: #000000;
}

a:hover{
	color: rgb(0,255,0);
}

a:active{
	color: cyan;
}

a:visited{
}

.container{
	width: 80%;
	margin: auto;
}

.button{
	background-color: #333333;
	color: rgb(0,255,0);
	padding:0px 15px;
	border:solid;
	border-spacing: 0px;
}

.button:hover{
	background: rgb(0,255,0);
	color: #ffffff;
}

.clr{
	clear:both;
}

.box-1{
	background-color: #000000;
	color: rgb(0,255,0);
	border: 5px white solid;
	border-width: 3px;
}

.box-1 h1{
	font-family:Tahoma;
	font-weight:800;
	font-style:italic;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	word-spacing: 1em;
}

.box2{
	border: 3px dotted #ccc;
	padding: 20px;
	margin: 20px 0;
}

.categories{
	border:1px #ccc solid;
	padding:10px;
	border-radius: 15px;
}

.categories h2{
	text-align: center;
}

.categories ul{
	padding: 0px;
	list-style: none;
}

.categories li{
	padding-bottom: 6px;
	border-bottom: dotted 1px #333333; 
}

.my-form{
	padding: 20px;
}

.my-form .form-group{
	padding-bottom: 15px;
}

.my-form label{
	display: block;
}

.my-form input[type="text"], .my-form textarea{
	padding: 8px;
	width: 100px;
}

.my-form input[type="submit"]{
	background-color: #333333;
	color: rgb(0,255,0);
	padding:10px 15px;
	border:none;
}

.block{
	float:left;
	width:33.3%;
	border:1px solid #333333;
	padding:10px;
	box-sizing:border-box;
}

#main-block{
	float:left;
	width:70%;
	padding: 15px;
	box-sizing: border-box;
}

#sidebar{
	float:right;
	width:30%;
	background-color:#333333;
	color:#ffffff;
	padding:15px;
	box-sizing: border-box;
}

.p-box{
	width:800px;
	height:500px;
	border:1px solid #000000;
	margin-top: 30px;
	position:relative;
}

.p-box h1{
	position:absolute;
	top:40px;
	left: 200px;
}

.p-box h2{
	position: absolute;
	bottom:40px;
	right:100px;
}